* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(38, 38, 91);
}

.header {
    height: auto;
    width: 100vw;
    background-image:url(img/background.png);
    padding-bottom: 150px;
}

.logo {
    width: 100px;
    border-radius: 100%;

}

.navbar{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p,h1 {
    color: white;
}

p {
    font-size: 2em;
    letter-spacing: 10px;
    margin-top: 1em;
}

h1 {
    font-family: serif;
    font-size: 4em;
}

.main-title {
    text-align: center;
    margin-top: 75px;
}

.etd {
    margin-top: 1em;
    color: grey;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.cards-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60;
    position: relative;
    justify-content: space-around;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-size: 25px;

}

.error {
    color: red;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 25px;
    border-radius: 2px;
}

.hidden {
    visibility: hidden;
}